.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  padding: 16px;
  font-family: Roboto, sans-serif;
  display: flex;
}

.card:hover {
  transition: all .3s;
  transform: scale(1.2);
}

.card__image {
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  width: 160px;
  height: 134px;
  margin: 16px 3px 40px;
}

.card__title {
  color: #060b35;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__title:hover {
  color: #34568b;
  transition: all .3s;
}

.card__code {
  color: #616070;
  margin-bottom: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__review-container {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.card__review {
  text-align: center;
  color: #060b35;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__price-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.card__price-text {
  color: #616070;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price-value {
  color: #060b35;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__button {
  color: #fff;
  text-transform: uppercase;
  background-color: #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}

.card__button:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
  transition: all .3s;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars.stars--1 .stars__star:nth-child(-n+1), .stars.stars--2 .stars__star:nth-child(-n+2), .stars.stars--3 .stars__star:nth-child(-n+3), .stars.stars--4 .stars__star:nth-child(-n+4), .stars.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}

.nav {
  align-items: center;
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  align-items: center;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  text-transform: uppercase;
  color: #060b35;
  align-items: center;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  position: relative;
}

.nav__link:hover {
  color: #00acdc;
  transition: all .3s;
}

.nav__link.is-active, .nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

.header__logo {
  width: 40px;
  height: 40px;
  display: block;
}

.cards-container {
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  align-items: center;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media screen and (width >= 488px) and (width <= 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (width >= 768px) and (width <= 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (width >= 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 200px);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
